@import ../../yarnball

$view-margin: -10000px

:host
  display: block
  position: relative
  
  overflow: hidden
  
  user-select: none;
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  
  #fullscreenButton
    position: absolute
    top:   8px
    right: 8px
    padding: 8px
    min-width: auto
    iron-icon
      width:  48px
      height: 48px
  
  #viewRoot
    position: absolute
    width:  100%
    height: 100%
  
  #background
    position: absolute
    left:   0
    top:    0
    right:  0
    bottom: 0
    margin: $view-margin
    border: 1px solid red
  
  #boxSelection
    display: block
    position: absolute
    background-color: $highlight-color
    opacity: 0.5
    pointer-events: none
    z-index: 3
  
  #boxSelection.hidden
    display: none
  
  yb-connector
    position: absolute
    left:   0
    top:    0
    right:  0
    bottom: 0
    z-index: 1
    margin: $view-margin
  
  yb-connector.inactive
    /deep/
      .connector-path
        pointer-events: none !important
  
  yb-connector.dragging
    /deep/
      .connector-path
        stroke-linecap: round
  
  yb-node
    margin: 0
    z-index: 2
  yb-node.dragging
    margin: 0
    z-index: 3
  
  yb-set
    z-index: 2
    margin: 0
  
  iron-dropdown
    z-index: 4
  
  .dropdown-content
    background-color: white
    line-height: 20px
    border-radius: 3px
    box-shadow: 0px 2px 6px #ccc
    
    paper-menu
      paper-item,
      paper-icon-item
        cursor: pointer
      paper-item:hover,
      paper-icon-item:hover
        background: $highlight-color

:host.mouse-captured
  /deep/
    *
      pointer-events: none !important

:host.mouse-captured
  #background
    pointer-events: all !important
      
:host.dragging-widgets
  /deep/
    yb-dragdrop-area.drop-ready
      pointer-events: all !important

:host.dragging-connectors
  yb-node
    pointer-events: all !important